.reSizeIcon {
  font-size: 40px;
  text-align: center;
}
.textCenter {
  text-align: center;
}
.card1{
  background: #a3a9b0;
  transition: transform 250ms;
  padding-top: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* text-align: center; */
  display: flex;
  margin: auto;
  justify-content: center;
}
.card1:hover{
  transform: translateY(-15px);
}
.cardImage{
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;
  justify-content: center;
}
.Container{
  background-color: whitesmoke;
  /* position: relative; */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* text-align: center; */
  margin-bottom: 10px;
  padding-bottom: 100px;
}
.Swiper{
  margin-left: 300pz;
  display: flex;
  margin: auto;
  justify-content: center;
}