.NameWebsite {
  font-size: 20px;
}
.Transition {
  transition: transform 250ms;
}
.Transition:hover {
  transform: translateY(-15px);
}
.ButtonGeneral{
  color: #00a7e6;
}
.ButtonGeneral:hover{
  color: #216e8a;
  cursor: pointer;
}
/* @media */

.Container{
  background-color: rgb(222, 246, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(222, 246, 255), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}