.container{
    color: black;
}
.myPhoto {
    /* z-index: 1000; */
    /* -moz-transform: rotate(150deg); */
    /* background-color: blueviolet; */
    /* -webkit-transform: rotate(-3deg); */
    /* border-style: solid; */
    /* border-radius: 10%; */
    width: 50px;
    height: 50px;
  
    /* padding-top: 3px; */
    /* padding-bottom: 20px; */
    /* padding-left: 5px; */
    transition: transform 550ms;
  }
  
  /* .Persegi1,
  .Persegi2,
  .Persegi3, */
  .myPhoto:hover {
    transform: scale(1.1);
    /* width: 320px;
    height: 453px; */
  }