
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

.Container{
  background: #fff7f7;
  border-radius: 50px;
  box-shadow: 0 4px 80px 0 rgba(6, 160, 231, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 100px;
  position: relative;
  border-style: solid;
  
  border-width: 40px 4px 40px 4px;
    border-color: #00a7e6;
}
.Imagee{
  width: 100%;
  height: auto;
}
.Title{
  font-family: 'Monomaniac One', sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .Textt {
    font-size: 14px;
  }
}